
<meta charset="UTF-8">
<!-- Просим IE переключиться в последний режим -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Корректное массштабирование на разных устройствах -->
<meta name="viewport" content="width=device-width, initial-scale=1" >
<title>{{ title }}</title>
<!-- SEO -->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- build:css css/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="{{ config.base_url }}app/bower_components/normalize-css/normalize.css" />
<link rel="stylesheet" href="{{ config.base_url }}app/bower_components/qtip2/jquery.qtip.css" />
<!-- endbower -->
<link rel="stylesheet" href="{{ config.base_url }}app/css/font-family.css">
<link rel="stylesheet" href="{{ config.base_url }}app/css/varible-content.css">
<!-- endbuild -->
<!-- build:css css/combined.css -->
<link rel="stylesheet" href="{{ config.base_url }}app/css/aside.css">
<link rel="stylesheet" href="{{ config.base_url }}app/css/button.css">

<link rel="stylesheet" href="{{ config.base_url }}app/css/base.css">
<!-- endbuild -->
<link href="{{ config.base_url }}app/css/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<script src='{{ config.base_url }}app/bower_components/modernizr/modernizr.js'></script>
